
/*inicio pádrão*/
.dark-mode 
{
    background-color: black;
    color: white;
}

.dark_mode
{
    position: absolute;
    right: 3rem;
}

.checkbox
{
    opacity: 0;
}

.label
{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;

    height: 26px;
    width: 50px;
}

.label .ball
{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball 
{
    transform: translateX(24px);
}

.fa-moon
{
    color: #f1c40f;
}

.fa-sun
{
    color: #f39c12;
}

#navbarSupportedContent li
{
 font-size: 24px;
 display: flex;
 color: #fff;
}


#navbarSupportedContent a
{
 color: #fff;
}

#navbarSupportedContent ul li a:hover
{
    color: #F07402;
    border-radius: 5px;
    transition: 0.2s;
}


#drop
{
    text-align: center;
}

#drop li
{
    margin-left: 0;
}


footer
{
    margin-top: auto;
}

/*inicio conteudo*/

.main_video
{
    background-color: #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1rem;
}

.main_video video
{
    width: 100%;
    border-radius: 5px;
    height: 500px;
}

.main_video .title
{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.video_list
{
    margin-top: 1rem;
    background-color: #ccc;
    border-radius: 5px;
    height: auto;
    overflow-y:scroll;
}

.video_list::-webkit-scrollbar
{
    width: 7px;
}

.video_list::-webkit-scrollbar-track
{
    background-color: #333;
    border-radius: 50px;
}

.video_list::-webkit-scrollbar-thumb
{
    background-color: #666;
    border-radius: 50px;
}

.video_list .vid video
{
    width: 100px;
    border-radius: 5px;
}

.video_list .vid
{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.video_list .vid:hover
{
    background-color: #eee;
}

.video_list .vid.active
{
    background-color: #2980b9;
}

.video_list .vid.active .title
{
    color: #fff;
}

.video_list .vid .title
{
    color: #333;
    font-size: 17px;
}

.container_video
{
    width: 100%;
    display: flex;
}

#carouselExampleIndicators
{
    margin: 2rem;
}

#footer_i i
{
    margin-left: 1rem;
}

#mais
{
    display: none;
}

#btnLeiaMais
{
    background-color: transparent;
    border-color: transparent;
    color: white;
}

footer p
{
    color: white;
}

#contatos_footer ul li a
{
    color:white;
}

#contatos_footer ul li a:hover
{
 color: #F07402;
}

#parceiros_footer ul li a
{
    color:white;
}


#parceiros_footer ul li a:hover
{
    color: #F07402;
}

#menu_footer ul li a
{
    color:white;
}


#menu_footer ul li a:hover
{
    color: #F07402;
}